<!doctype html>

<html  ng-app="RentmngtApp"> 
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="styles/Home/banner.css">
	 <link rel="stylesheet" href="styles/Home/index.css">

	<script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/angular/angular.js"></script>  

  </head>
  <body>
              <!-- Header -->
		    <div ng-include="'Banner-Header.html'"></div>
         <!-- Content -->
		   
		      <div class="container" data-ng-controller="MainCtrl">
			  
					
						 <div class="col-md-4">
						 one 
						 </div>
						<div class="col-md-4" >
							<div class="row">
							<input  class="controls" ng-model="addr"  type="text" placeholder="Where do you want to Search ?"/>
                             <button class="controls btn btn-primary" ng-click="codeAddress()" >Search</button>
							</div>
						</div>

							<div class="col-md-4">
							<br>
							 <div class="row">
							  <div class="panel panel-default">
								  <div class="panel-heading">
									<h3 class="panel-title">Latest Listing</h3>
								  </div>
								  <div class="panel-body">
									Panel content
								  </div>
								</div>
                             </div>
						   </div>
					
				 
             </div>
	
          <!-- Content End -->
	  		    <!-- Footer -->
		    <div ng-include="'footer.html'"></div>
		   
   
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>  
        <script src="scripts/Home/Controller/main.js"></script>
 
   <script src="lib/toastr/toastr.min.js"></script> 


</body>
</html>