 <br>
 <div class="row">
   <div class="col-md-4 col-md-offset-2">
    <button type="button" class="btn btn-warning" ng-disabled="!userForm.$invalid" ng-click="addData()">Add</button>
   </div>
  </div>
  <br>
<div class="row">

  <div class="col-md-4 col-md-offset-2">
  
          <form name="userForm"  novalidate>
               <div class="form-group">
				  <label class="control-label">Property Name</label>
				  <input type="text" placeholder="Property Name"  class="form-control" ng-model="propertyDetails.propertyname" ng-disabled=disableComponents >
	         </div>

			  <div class="form-group">
				  <label class="control-label">Property Location</label>
				  <input type="text" placeholder="eg Kasarani,Nairobi" ng-blur="codeAddress()" class="form-control" ng-model="propertyDetails.address" ng-disabled=disableComponents >
	         </div>
             <div class="form-group">
                   <label >Property Type</label>
					<select class="form-control"  ng-model="propertyDetails.type" ng-options="servicetype.name for servicetype in type" ng-disabled=disableComponents>
					</select>
			   </div>

		  <div class="form-group">
                        <label >Property Size</label>
                                    <div class="input-group">
									 <input type="text" class="form-control" placeholder="Property Size" id="PropertySize" name="PropertySize" ng-model="propertyDetails.Size" ng-disabled=disableComponents required >
                                      <div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Measurement<span class="caret"></span></button>
										<ul class="dropdown-menu dropdown-menu-right" role="menu">
										  <li ng-repeat="item in Measurements">
												  <a ng-click="selectMeasurements(item)"href="#">{{item}}</a>
										  </li>
										</ul>
									  </div>
                                     </div>

			   </div>
             


          
  </div>

  <div class="col-md-4" >

        <div class="form-group">
				  <label class="control-label">Property Value</label>
				  <input type="number" placeholder="price" ng-blur="codeAddress()" class="form-control" ng-model="propertyDetails.value" ng-disabled=disableComponents >
	  </div>
            
			   <div class="form-group">
				  <label class="control-label">Property Ref</label>
				  <input type="text" placeholder="Ref"  class="form-control" ng-model="propertyDetails.ref" ng-disabled=disableComponents >
	  </div>

		  <div class="form-group">
                        <label >Property Description</label>
                                     <textarea class="form-control" rows="4"  ng-model="propertyDetails.description" ng-disabled=disableComponents title="Brief Property Description"></textarea>

			   </div>
  </div>

  </form>
</div>

 <hr>
 <div class="row">
   <div class="col-md-4 col-md-offset-2">
			    <button type="button" class="btn btn-success" ng-disabled="userForm.$invalid" ng-click="addProperty()" >Save</button>
   </div>
</div>
<br>
	 <div ng-show="PropertyPosted" class="alert alert-warning"><strong>Property Successfully Saved</strong> </div>
	 <div ng-show="PropertyError" class="alert alert-warning"><strong>Error Occurred</strong> {{msg}} </div>