/* map */
   html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
 .cont{
  height: 80%;
  margin-top: 15px
 }

/* Search Box */
  .search-box-wrapper {
    padding: 20px 0;
    position: relative !important;
    top: 150px !important;

 }
 .search-box-wrapper .advanced-search-toggle {
  padding: 10px 0px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}


/* end of Search Box */




  .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }


      #pac-input {
        background-color: #fff;
     
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;

      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }


 @media(max-width:481px) {
  .cont{
    height: 80%;
    margin-top: 5px
  }
     #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }
	  #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 51%;
      }
}
