/* map */
   html, body, #searchmap {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
 .cont{
  height: 80%;
  margin-top: 15px
 }



 @media all and (min-width: 481px) and (max-width: 768px) {
  .cont{
    height: 80%;
    margin-top: 5px
  }
}
