    	  
<div class="panel panel-default">
					<div class="panel-heading">
					    <h5>Kindly Select a House Type...</h5> 
					</div>
					<div class="panel-body">
					 <div class="row">
                         <div class="col-xs-4 col-xs-offset-3">
                             <br>Add <input type="radio" ng-model="url" value="landlordHousemngt">  
					         <br>Edit &nbsp<input type="radio" ng-model="url" value="landlordEditHousemngt">
                          </div>
                     </div>
						 <hr>
							 <a href="#!/{{url}}" class="btn btn-success">Go</a>
					</div>
                     
</div>