<div class="panel panel-default">
  <div class="panel-heading">
      <div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="Selecttype('calls')">Calls</button>
		  <button type="button" class="btn btn-default" ng-click="Selecttype('messages')">Messages</button>
		  <button type="button" class="btn btn-default" ng-click="Selecttype('usage')">Usage</button>
     </div>
  </div>
  <div class="panel-body">
     <div>
     
      <div ng-if=message >
         <ul class="nav nav-tabs">
			  <li class="active"><a href="!#received" data-toggle="tab">Sent by Me</a></li>
			  <li><a href="!#sent" data-toggle="tab">Sent By Tenant</a></li>
		</ul>
        <br>
          <div class="tab-content">
                   <div class="tab-pane active" id="received">
					 <div class="panel panel-default">
						<div class="panel-body">
						    <div class="col-xs-12" >
									<div class="table-responsive">
										<table class="table table-striped " >
										  <thead>
											<td><a>From</a></td>
											<td><a>To</a></td>
											<td><a>Date</a></td>
											<td><a>status</a></td>
											<td><a>Price($)</a></td>
											<td><a>Message</a></td>
										  </thead>
											   <tr data-ng-repeat="msg in messages | filter:isOutbound" >
												<td>{{msg.from}}</td>
												<td>{{msg.to}}</td>
												<td>{{msg.date_sent}}</td>
												<td>{{msg.status}}</td>
												<td>{{msg.price}}</td>
												<td>{{msg.body}}</td>
												</tr>
										</table>
									</div>
								</div>
						</div>
                      </div>
                   </div>

                   <div class="tab-pane" id="sent">
					 <div class="panel panel-default">
						<div class="panel-body">
						 <div class="col-xs-12" >
									<div class="table-responsive">
										<table class="table table-striped " >
										  <thead>
											<td><a>From</a></td>
											<td><a>To</a></td>
											<td><a>Date</a></td>
											<td><a>status</a></td>
											<td><a>Price($)</a></td>
											<td><a>Message</a></td>
										  </thead>
											   <tr data-ng-repeat="msg in messages | filter:isInbound" >
												<td>{{msg.from}}</td>
												<td>{{msg.to}}</td>
												<td>{{msg.date_sent}}</td>
												<td>{{msg.status}}</td>
												<td>{{msg.price}}</td>
												<td>{{msg.body}}</td>
												</tr>
										</table>
									</div>
								</div>
						</div>
                      </div>
                   </div>

		  </div>


      </div>
	    <div ng-if=calls >
         Under Construction
      </div>
	  <div ng-if=usage >
         Under Construction
      </div>
        

	 </div>
     
  </div>


</div>