    	  
<div class="panel panel-default">
					<div class="panel-heading">
					    <h5>Kindly Select a Transaction Type...</h5> 
					</div>
					<div class="panel-body">
					 <div class="row">
                         <div class="col-xs-4 col-xs-offset-3">
                             <br>Single <input type="radio" ng-model="url" value="Singletransaction">  
					         <br>Batch &nbsp<input type="radio" ng-model="url" value="Batchtransaction">
							 <br>Edit Transaction &nbsp<input type="radio" ng-model="url" value="Edittransaction">
                          </div>
                     </div>
						 <hr>
							 <a href="#!/{{url}}" class="btn btn-success">Go</a>
					</div>
                     
</div>