 <md-tabs>
  <md-tab label="Create">   	  
<div class="panel panel-default">
					<div class="panel-heading">
					    <h5>Kindly Select a Transaction Type...</h5> 
					</div>
					<div class="panel-body">
					 <div class="row">
                         <div class="col-xs-4 col-xs-offset-3">
                             <br>Single <input type="radio" ng-model="url" value="Singletransaction">  
					         <br>Batch &nbsp<input type="radio" ng-model="url" value="Batchtransaction">
                          </div>
                     </div>
						 <hr>
							 <a href="#!/{{url}}" class="btn btn-success">Go</a>
					</div>
                     
</div>

  </md-tab>
  <md-tab label="Edit">
  
   <div class="panel panel-default">
	
					<div class="panel-body">
					 <div class="row">
                         <div class="col-md-8">
						  <div class="input-group">
						        <input type="text" class="form-control" placeholder="Receipt Number" id="desc" ng-model="Receipt.number"   />
						  <span class="input-group-btn">
							<button class="btn btn-danger" type="button" ng-click="GetDetails()" >Get!</button>
						  </span>
						</div><!-- /input-group -->
					  </div>
                    </div>
					<br>
					 <div class="row">
                         <div class="col-md-3">
					      <button type="button" class="btn btn-warning" ng-click="Edit()" ng-disabled=disableEdit>Edit</button>
                         </div>
						 <div class="col-md-3">
					      <button type="button" class="btn btn-danger" ng-click="delete()" ng-disabled=disableEdit>Delete</button>
                         </div>
                         <div class="col-md-6">
					      	<div ng-show="RcptNotFound" class="alert alert-danger"><strong>Sorry Receipt Not Found !!!</strong></div>	
							<div ng-show="RcptDeleted" class="alert alert-danger"><strong>Receipt Deleted !!!</strong></div>	
                         </div>

                     </div>
				  <hr>
				   <div class="row">
                       <div class="col-md-4">

                            <label for="searchinput">Receipt Number</label>
								   <input type="text" class="form-control" placeholder="Receipt Number" id="rcptno" ng-model="Detail.receiptno"   ng-disabled=disableComponents />

					   </div>
					   <div class="col-md-4">
                                  <label for="searchinput">Tenant ID</label>
								   <input type="text" class="form-control" placeholder="Tenant ID" id="tid" ng-model="Detail.tenantid"   ng-disabled=disableComponents />
                                 
					   </div>

					   <div class="col-md-4">
					           <label for="searchinput">House Number</label>
								   <input type="text" class="form-control" placeholder="House Number" id="hseno" ng-model="Detail.housenumber"   ng-disabled=disableComponents />
					   </div>
				   </div>

                     <div class="row">
                       <div class="col-md-4">

                            <label for="searchinput">Plot Name</label>
								   <input type="text" class="form-control" placeholder="Amount" id="amt" ng-model="Detail.plotnumber"   ng-disabled=disableComponents />

					   </div>
					   <div class="col-md-4">
                                  <label for="searchinput">Tenant Names</label>
								   <input type="text" class="form-control" placeholder="Tenant Names" id="tnames" ng-model="Detail.names"   ng-disabled=disableComponents />
                                 
					   </div>

					   <div class="col-md-4">
					           <label for="pdate">Posted Date</label>
								   <input type="text" class="form-control" placeholder="Posted Date" id="pdate" ng-model="Detail.PostedDate"   ng-disabled=disableComponents />
					   </div>
				   </div>

				    <div class="row">
                       <div class="col-md-4">

                            <label for="tdate">Transaction date</label>
								   <input type="text" class="form-control" placeholder="Transaction date" id="tdate" ng-model="Detail.transactiondate"   ng-disabled=disableComponents />

					   </div>
					   <div class="col-md-4">
                                  <label for="ttype">Transaction Type</label>
								   <input type="text" class="form-control" placeholder="Transaction Type" id="ttype" ng-model="Detail.transactiontype"   ng-disabled=disableComponents />
                                 
					   </div>

					   <div class="col-md-4">
					           <label for="pmethod">Payment Method</label>
								   <input type="text" class="form-control" placeholder="Payment Method" id="pmethod" ng-model="Detail.paymentmethod"   ng-disabled=disableComponents />
					   </div>
				   </div>
				      
                     <div class="row">
                       <div class="col-md-4">

                            <label for="desc">Description</label>
								   <input type="text" class="form-control" placeholder="Description" id="desc" ng-model="Detail.Description"   ng-disabled=disableComponents />

					   </div>
					   <div class="col-md-4">
                                  <label for="amt">Amount</label>
								   <input type="text" class="form-control" placeholder="Amount" id="amt" ng-model="Detail.tranAmount"   ng-disabled=disableComponents />
                                 
					   </div>

					   <div class="col-md-4">
					           <label for="crg">Charges</label>
								   <input type="text" class="form-control" placeholder="charges" id="crg" ng-model="Detail.Charges"   ng-disabled=disableComponents />
					   </div>
				   </div>

				   </div>	<!-- /body -->
				 <div class="panel-footer">
		  	           <button type="button" class="btn btn-success" ng-click="save()" ng-disabled=disableComponents>Update</button>
		          </div>
                     
              </div>
  
  
  </md-tab>
  <md-tab label="Delete"></md-tab>
</md-tabs>