body {
    padding-top: 100px;
    /* background-color: #e7e7e7;  */
	padding-bottom: 20px;
	font-size: 12px;  

}






@media(min-width:768px) {
    body {
        padding-top: 50px;
    }
   .hideMobile {
    display: none;
   }
}